* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }


.navbar {
    padding: 10px;
    padding-top: 58px;
}


.hero-section {
    color: white;
    background-color: #09084d;  
    padding: 130px;
    font-weight: 400;
    font-size: 20px;
}


.customize-btn{
    background-color: #ffcc00 !important;
    color: #09084d;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 30px;
}

.customize-btn:hover {
    background-color: #fbd84e !important;
    color: #09084d;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 30px;
}

.outline-btn {
        padding: 10px 35px;
        border: 2px solid #09084d;
        border-radius: 30px;
        font-weight: 500;
}

.outline-btn:hover {
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
    transition: all 0.2s;
}

.card-section {
    margin: 120px 0px;
}

.card-feat {
    padding: 35px;
    border-radius: 7px;
    box-shadow: 15px 30px 30px rgba(9, 8, 77,.15); 
    border: none;
    transition: transform .3s;
    z-index: 10;
}

.card-feat:hover {
    padding: 35px;
    border-radius: 7px;
    box-shadow: 20px 40px 40px rgba(9, 8, 77,.15); 
    border: none;
    transform: scale(1.11);
}

    

.card-header {
    background-color: white;
    border-bottom: 2.5px solid #f5f5f5;
    padding: 0px 0px 20px 0px;
    display: inline;
}

.card-body {
    padding: 15px 0px;
}

.card-text {
    height: 100px;
    color: #000033;
    font-size: 20px;
    padding: none;
}

.card-btn {
    padding-top: 15px;
}

.lap-section {
    background-image: 
        linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%),
        url('img/dot-bf.webp');
    background-size: contain;   
    margin: 180px 0px
}

.lap-content {
    font-size: 18px;
}

/* logo-coursel */
  
.logo-slider {
    width: 170px;
    height: 100px;
    animation: scroll 60s linear infinite;
  }
  
  .slide-track {
    width: 100%;
    display: flex;
    gap: 5em;
    overflow: hidden;
  }
  
  .slider {
    margin-top: 30px;
    padding: 50px 50px;
    margin-bottom: 50px;
    border-bottom: 1.5px solid #e8e9eb;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }

/* report-section */
.report-section {
    padding: 45px 0px;
}

.rep-content {
    padding: 30px 15px;
}

.container-acc {
    padding-right: 60px;
}

.card-acc {
    border: none;
    padding-right: 30px;
    border-bottom: 1px solid #e8e9eb;
}

.card-acc-header {
    margin: 20px 0px
}

.btn-acc {
    text-decoration: none;
    color: #000033;
    font-weight: 500;
    font-size: 18px;
}

.card-acc-body {
 margin: 35px 0px;
 color: #4b4b56;
}

#card-acc-text{
    margin-bottom: 50px !important;
}

.btn-text {
    text-decoration: none;
    color:#0d0b75 !important;
    font-weight: 500;
    border-bottom: 1.5px solid #09084d;
    padding-bottom: 5px;
}


/*card big*/

.card-big {
    background-color: #000066;
    color: white;
    padding: 90px 80px;
    border-radius: 5px;
}

.card-col {
    padding: 15px 0px;
    margin-right: 50px;
}

.card-col-text {
    color: #c2c2e0
}

.card-col-img {
    margin: 10px 0px
}

/* stat-section */

.stat-hero-section {
    background-image: url(img/stat\ bg.webp);
    background-size: cover;
    background-color: #000033;
    margin: 140px 0px;
    padding: 120px 300px;
}

.card-stat {
    padding: 0px 50px;
}
.stat-card-title {
    color: #00ffff;
}

.stat-des {
    color: white;
    font-size: 20px;
}

/* testimonial */

.overlap {
	position: relative;
	display: flex;
    height: 400px;
    margin-bottom: 330px;
}
.card-test {
	position: absolute;
	background-color: #000066;
    color: #ffffff;
	width: 80%;
	height: 100%;
	z-index: 1;
    padding: 80px 30px 100px 80px;
    border-radius: 5px;
}

.card-test-text {
    font-size: 28px;
    width: 45%;
}

.card-test-img {
	position: absolute;
	right: 0%;
    top: 28%;
	height: 370px;
    width: 45%;
	z-index: 2;  
}

/* patners-section */

.patner-section {
    background-image: 
        linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%),
        url('img/patner-bg.webp');
    background-size: contain;  
    background-repeat: no-repeat; 
    margin: 100px 0px;
}

.patner-content {
    font-size: 18px;
}

/* news-card */

.news-card {
    box-shadow: 0px 20px 30px 0px rgba(0,0,51,0.2);
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 35px;
    margin: 100px 0px 150px 0px;
}

.news-card-title {
    font-size: 15px;
}

.news-card1-img {
    height: 270px;
    width: 100%;
    background-image: url(https://www.reltio.com/wp-content/uploads/2023/08/Modernizing-MDM-thumb-929x1024.png);
    background-size: cover;
    background-position: top;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.news-card2-img {
    height: 270px;
    width: 100%;
    background-image: url(https://www.reltio.com/wp-content/uploads/2023/02/iStock-1186356983-1024x683-1-550x367.jpg);
    background-size: cover;
    background-position: top;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.news-card3-img {
    height: 270px;
    width: 100%;
    background-image: url(https://www.reltio.com/wp-content/uploads/2022/05/Thought-Leadership-LinkedIn-Post-1200-%C3%97-627-px-550x287.png);
    background-size: cover;
    background-position: top;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

/* footer */
.footer{
   font-size: 14px; 
   text-decoration: none;
}
